.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  border: 3px solid #8c734b;
  border-radius: 12px;
  padding: 2%;
}

.header img {
  width: 50%;
}

div.nav{
  margin: 10px 0px;
}

div.nav a {
  min-width: 4rem;
  text-decoration: none;
  padding: 2px 7px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

div.nav a:hover {
  border-bottom: 2px solid #8c734b;
}
