.keg {
  display: inline-block;
  border: 1.5px solid #8c734b;
  border-radius: 12px;
  color: #ffffff;
  min-width: 20rem;
  margin: 10px;
}

.name h3 {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.brand h4 {
  font-weight: 200;
  text-transform: lowercase;
  margin-top: 0px
}

.keg button {
  background-color: #8c734b;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  border: none;
  width: 100%;
  cursor: pointer;
  display: block;
}

.keg .button:hover {
  color: #000000;
}
